<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button (click)="onback()" fill="clear" color="light">
        <ion-icon name="arrow-back"></ion-icon>返回
      </ion-button>
    </ion-buttons>

    <ion-title align="center" style="color: white;">课程详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>课程名称：<p slot="end" style="color: #86888f">{{courseInfo.courseName}}</p></ion-item>
    <ion-item>所属班级：<p slot="end" style="color: #86888f">{{courseInfo.className}}</p></ion-item>
    <ion-item>班级编号：<p slot="end" style="color: #86888f">{{courseInfo.courseNumber}}</p></ion-item>
    <ion-item>授课教师：<p slot="end" style="color: #86888f">{{courseInfo.teachName}}</p></ion-item>
    <ion-item>所在学期：<p slot="end" style="color: #86888f">{{courseInfo.schoolTerm}}</p></ion-item>
    <ion-item>所在院校：<p slot="end" style="color: #86888f">{{courseInfo.schoolName}}</p></ion-item>
    <ion-item detail (click)="detail(1)">学习要求：<p slot="end" style="color: #86888f">点击查看</p></ion-item>
    <ion-item detail (click)="detail(2)">学习进度：<p slot="end" style="color: #86888f">点击查看</p></ion-item>
    <ion-item detail (click)="detail(3)">考试安排：<p slot="end" style="color: #86888f">点击查看</p></ion-item>

  </ion-card>
  <ion-footer>
    <ion-toolbar align="center">
      <ion-button fill="clear" style="color: #f04141;font-size: larger">退出班课</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
