<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button (click)="onback()" fill="clear" color="light">
        <ion-icon name="arrow-back"></ion-icon>返回
      </ion-button>
    </ion-buttons>

    <ion-title align="center" style="color: white;">签到历史</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="font-size: larger">
    <ion-item>历史签到记录<p slot="end">共{{length}}次</p></ion-item>
  </ion-card>
  <ion-item *ngFor="let c of checkList">
    <ion-label>
      <p style="color: #1e2023">{{c.checkTime.split(' ')[0]}} 签到</p>
      <p style="font-size: small">{{c.checkTime.split(' ')[1].split('.')[0]}}</p>
    </ion-label>


    <p *ngIf="c.tag === 1" style="color: #0ec254" slot="end">出勤</p>
    <p *ngIf="c.tag == 0" style="color: #f04141" slot="end">缺勤</p>
  </ion-item>
</ion-content>
